<launch>
 
  <!-- rosbag play -->
  <!-- <arg name="bag" value="/home/rethnaraj/git/xyz/3D_Point_Cloud_People_Dataset/LCAS_20160523_1200_1218.bag"/> -->
  <arg name="bag" value="/home/rethnaraj/Desktop/3D/OusterStudio-4.2.1-Linux-64bit/bin/OS-1-32-122125000010-1024x10-1.rosbag"/>
  <param name="use_sim_time" value="true"/>
  <node pkg="rosbag" type="play" name="rosbag_play" args="--clock $(arg bag)" required="true"/>
  
  <!-- ROS Visualization -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find object3d_detector)/launch/object3d_detector.rviz"/>
</launch>
